@import url("https://use.typekit.net/kgt0uek.css");

.bannerpro__image img {
  width: 100%;
}
.menu--preset {
  background: #90080a;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-top: 100px;
}